@model MVCDocterPatientSystem.Models.appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientInfo.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSpan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSpan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
